html {
	margin:0;
	padding:0;
	text-align:center;
	font-family:Helvetica, Arial, Sans-Serif;
}

body {
	background-size:cover;
	background-repeat:no-repeat;
}

div {
	color:#fff;
	font-size:24px;
	margin:0 auto;
	background-color:#000;
}

#myCity {
	padding-top:10px;
	width:200px;
	height:50px;
}
#temperature {
	width:200px;
	height:50px;
}
#message {
	width:200px;
	height:50px;
}
button {
	margin:20px 0 0 44%;
	position:absolute;
}